DJANGO_SECRET_KEY=CAMBIAR_ESTA_CLAVE
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=proyeccion_app
POSTGRES_USER=proyeccion_user
POSTGRES_PASSWORD=CAMBIAR_PASSWORD
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
